@media screen and (min-width: 1000px){
    .menu-show, .menu-hide, .menu-show.showing, .menu-hide.showing{
        display: none;
    }

    #nav-menu{ 
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .card {
        margin: 1rem .5rem;
    }
}